/*styles*/
$font-size-info: 12px;
$success: #00FF00;
$warning: #FF0000;

.info {
	font-size: $font-size-info;
}

/* @extend is like if it inheriths the properties that are in .info (in this case) */
/* It helps to optimize and helps to dont write double code*/
.success {
	@extend .info;
	color: $success;
}

.warning {
	@extend .info;
	color: $warning;
}
